{% extends 'base.html' %}

{% block title  %}
Get Tweets on Twitter
{% if message %}
{{ message }}
{% endif %}
{% endblock  %}

{% block lead  %}
See the Tweets of an added User
{% endblock  %}

{% block main_body  %}
This is Case-Sensitive

<form method="POST" action="/get">
  <input name="tweets" class="form-control" type="text" placeholder="User Name">
  <!-- <select name="tweets" class="form-control" id="exampleFormControlSelect1">
    {% for user in myuser %}
    <option value={{user.username}}>{{user.username}}</option>
    {% endfor %}
  </select> -->
  <br/>
  <input type="submit" class="btn btn-primary" value="Get" />
</form>
<br/>
{% if data %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Text</th>
      <th scope="col">User id</th>
    </tr>
  </thead>
  <tbody>
    {% for tw in data %}
    <tr>
      <th scope="row">{{ tw.id }}</th>
      <td>{{ tw.text }}</td>
      <td>{{ tw.user_id }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock  %}
